# Enable environment macros in nagios.cfg:
# enable_environment_macros=1

define command {
    command_name notify_host_by_pushover
    command_line /usr/lib/nagios/plugins/notify_by_pushover.sh --nagios-host
}

define command {
    command_name notify_service_by_pushover
    command_line /usr/lib/nagios/plugins/notify_by_pushover.sh --nagios-service
}

define command {
    command_name notify_host_by_lametric
    command_line /usr/lib/nagios/plugins/notify-lametric.py --nagios-host
}

define command {
    command_name notify_service_by_lametric
    command_line /usr/lib/nagios/plugins/notify-lametric.py --nagios-service
}

